<div class="row mt-3">

  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
      <div class="card text-bg-indigo">
        <div class="card-body">
          <h3 class="card-title">Products</h3>
          <h5 class="card-text">8</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Categories</h3>
          <h5 class="card-text">2</h5>
        </div>
      </div>
    </div>
  </div>

</div>

